{
    "con": "Convention name for the bot",
    "dbName": "Database name you want to use for the bot",
    "dbURL": "Database connection string, ex. mongodb://localhost",
    "token": "Token for the telegram bot you want this program to connect to.",
    "date": "Date of the convention you are counting down too. Must be in the format Nov 4, 2022 at 12:00am (MDT). Bot calculated how many days so for best performance set the date to midnight of the con day",
    "webhookURL": "URL of the webhook that telegram will send updates to.",
    "webhookPort": "Port that this bot will listen to webhook updates on localhost",
    "messageOnSub": boolean, if you want the bot to message any owner of the bot when a new user or group subscribes,
    "mainBot": {
        "welcomeMsg": "Welcome Message for the bot",
        "subMsg": "Message to send when someone subscribes",
        "groupAddMsg": "Welcome message when added to a group.",
        "owners": "Comma seperated list of telegram user ID's who control the bot. This allows a 'owner' to subscribe a bot to a group chat even if that user isn't a owner or admin of that group"
    },
    "imgSend": {
        "dayToStart": integer, number of days before the convetion that the bot will start sending daily updates,
        "fontSize": integer, font size of the day that will be drawn on the image,
        "font": "font file that you want to use for the day that will be drawn on the image",
        "animalEmoji": "Comma seperated list of emojis that you want in the image caption for the daily image"
    },
    "twitter": {
        "consumerKey": "",
        "consumerSecret": "",
        "accessToken": "",
        "accessSecret": ""
    }
}